

body {
  background-color: #ffb3d9;
}

/* A link that has not been visited */
a:link {
    color: #ff0000;
	text-decoration: none;
}
/* A link that has been visited */
a:visited {
    color: #ff0000;
	text-decoration: none;
}
/* A link that is hovered on */
a:hover {
    color: #ff0000;
	text-decoration: none;
}
/* A link that is selected */
a:active {
    color:#ff0000;
	text-decoration: none;
}
	
  #art {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 600px;
  padding: 10px 
}	  
	  
  #flower {
  width: 40px;
  height: 40px;
  background: url(http://dl.glitter-graphics.net/pub/23/23741ydl5zbmguz.gif border=0></marquee>) 0 0;
}



/*----text stuff----*/

h1{
text-shadow: 5px 5px 5px #ff4d88;	
letter-spacing: 5px;
text-align: left;
font-family: "helvetica";
font-size: 30pt;
color: #ff0000;
font-weight: normal;
}

h2{
text-shadow: 5px 5px 5px #ff4d88;	
letter-spacing: 5px;
text-align: center;
font-family: "helvetica";
font-size: 25pt;
color: #ff0000;
font-weight: normal;
}

p.ex3 {
  border: 2px pink;
  outline-style: inset;
  outline-color: pink;
  width: 120px;
  height: 60px;
text-shadow: 5px 5px 5px red;	
letter-spacing: 2px;
text-align: center;
font-family: "times new roman";
font-size: 14pt;
font-color: #ff0000;
	}
	
p.ex4 {text-shadow: 5px 5px 5px magenta;	
letter-spacing: 2px;
text-align: center;
font-family: "times new roman";
font-size: 14pt;
font-color: #ff0000;
}
	
h2{
text-align: center;
font-size: 14pt;
left: 20px;
font-weight:normal;
font-color: #ff0000;
}

p{
text-align: center;
font-align: center;
font-color: red;
left: 20px;

}

a {
text-decoration: none;
outline: 0;
}

.images{
width:98%;
padding-top:10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


