
h2{	
letter-spacing: 2px;
text-align: center;
font-family: "helvetica";
font-size: 2pt;
text-decoration: none;
}

h1{
  text-shadow: 10px 10px 10px grey;	
letter-spacing: 2px;
text-align: center;
font-family: " helvetica";
font-size: 15pt;
}

/*Hover state for top level links*/
li:hover a {
color: black;
text-shadow: 5px 5px 5px grey;	
letter-spacing: 2px;
text-align: center;
font-family: "times new roman";
font-size: 25pt;
text-decoration: none;
}

.active{
	background-color: white;
   text-decoration: none;
}

.active:hover{
  color: black;
}

/*----text stuff----*/

p.ex3 {
  border: 2px pink;
  outline-style: inset;
  outline-color: pink;
  width: 200px;
  height: 60px;
  
}

p{
font-family: "times new roman";
font-size: 20pt;
text-align: center;
font-align: center;
color: black;
left: 20px;
}

a {
text-decoration: none;
outline: 0;
}

.images{
width:98%;
padding-top:10px;
}

  body {
  background-color: white;
}
