
body {
  background-color: grey;
}

h1 {
  text-shadow: 2px 2px white;	
letter-spacing: 5px;
p.inset {border-style: inset;}
text-align: center;
font-family: "times new roman";
font-size: 11pt;
}

/*Hover state for top level links*/
li:hover a {
	color: hsl(324, 100%, 65%);
}

.active{
	background-color: grey;
   text-decoration: bold;
}

.active:hover{
  color: black;
}

/*----text stuff----*/
h1{
text-align: center;
font-size: 30pt;
color: hsl(324, 100%, 65%);
font-weight:normal;
display: inline; 
}

h2{
text-align: center;
font-size: 14pt;
left: 20px;
font-weight:normal; 
}

p{
text-align: center;
font-align: center;
color: black;
left: 20px;
}

a {
text-decoration: none;
outline: 0;
}

.images{
width:98%;
padding-top:10px;
}
