


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
	padding: 5px
}

h1 {
  text-shadow: 10px 10px 10px grey;	
letter-spacing: 2px;
text-align: center;
font-family: "times new roman";
font-size: 10pt;
}

h2 {
  text-shadow: 10px 10px 10px grey;	
letter-spacing: 2px;
text-align: center;
font-family: "times new roman";
font-size: 15pt;
}

/*Hover state for top level links*/
li:hover a {
	color: black;
	text-shadow: 5px 5px 5px grey;	
letter-spacing: 2px;
text-align: center;
font-family: "times new roman";
font-size: 15pt;
}

.active{
	background-color: white;
   text-decoration: bold;
}

.active:hover{
  color: black;
}

/*----text stuff----*/

p.ex3 {
  border: 2px black;
  outline-style: inset;
  outline-color: grey;
  width: 100px;
  height: 40px;
  
}

h1{
text-align: center;
font-size: 30pt;
color: black;
font-weight:normal;
display: inline; 
}

h2{
text-align: center;
font-size: 14pt;
left: 20px;
font-weight:normal; 
}

p{
text-align: center;
font-align: center;
color: black;
left: 20px;
}

a {
text-decoration: none;
outline: 0;
}

.images{
width:98%;
padding-top:10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
}

  body {
  background-color: white;
}
